# Fichiers Python compilés
__pycache__/
*.pyc

# Environnements virtuels
env/
venv/

# Checkpoints et modèles lourds
*.pth

# Images / vidéos lourdes
*.png
*.jpg
*.jpeg
*.gif

# Autres fichiers temporaires
*.log
*.tmp
